:root {
    --color-main-- : #1a202e;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
#sidebar-toggle {
    display: none;
}
.body-label {
    position: fixed;
    height: 100%;
    width: calc(100% - 280px);
    z-index: 30;
    right: -100%;
    top: 0;
}
#sidebar-toggle:checked ~ .side-bar {
    left: -100%;
}
#sidebar-toggle:checked ~ .main-content header {
    left: 0;
    width: 100%;
    right: 0;
}
#sidebar-toggle:checked ~ .main-content{
   margin-left: 0;
}

.side-bar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1rem; 
    background: var(--color-main--);
    color: #fff;
    z-index: 20;
    transition: left 300ms;
}
.side-bar-brand {
    height: 50px;
}
.side-bar-brand i {
    font-size: 40px;
    color: blueviolet;
}
.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-bar-brand img {
    color: #fff;
    width: 50px;
}
.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}
.brand-icons span:hover {
    font-size: 1.7rem;
    transition: .2s;
    transform: rotate(30deg);
    
}
.side-bar-user {
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}
.side-bar-user img {
    width: 160px;
    height: 165px;
    border-radius: 50%;
    border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
}
label {
    display: block;
    width: 100px;
    background: #908bf1;
    color: #fff;
    padding: 8px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.side-bar-user input{
    display: none;
}
.side-bar-user h3 {
    font-size: 1rem;
}
.side-bar-user span {
    font-size: .8rem;
}
.side-bar-menu {
    margin-top: 3rem;
}
.menu-head {
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 500; 
    margin-bottom: .9rem;
}
.side-bar-menu ul {
    margin-bottom: 2.5rem;
}
.side-bar-menu li {
    margin-bottom: 1.9rem;
}
.side-bar-menu li a{
   color: #efefef;
   font-size: .8rem;
   display: flex;
   align-items: center;
}
.side-bar-menu li a span {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .8rem;
}

.main-content {
    margin-left: 280px;
}
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 280px;
    padding: 1rem 1.5rem;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0 , .2);
    transition: left 300ms;
}
.header-icon span {
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}
.search-box {
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(5%);
}

.search-box input {
    height: 40px;
    width: 0px;
    border-radius: 50px;
    padding: 0px 5px;
    border: 3px solid black;
    padding-right: 30px;
    transition: 1.5s;
}
.search-box input:focus {
    border: none;
    outline: none;
    width: 420px;
    box-shadow: 0.5px 0.8px 8px rgb(144, 139, 241);
}

.search-box #before {
    position: absolute;
    right: 12px;
    line-height: 43px;
    color: #000; 
    font-weight: 700;
}
.box:hover i {
    opacity: 0;
    z-index: -1;
}
.menu-toggle label {
    width: 50px;
    height: 50px;  
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}
.menu-toggle label:hover {
    background: #1a202e;
}
.main-content {
    margin-left: 280px;
    transition: margin-left 300ms;
}
main {
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-actions  button {
    outline: none;
    color: #fff;
    background: #5850ec;
    border: none;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;    
}
.header-actions button span {
    font-size: 1.2rem;
    margin-right: .6rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
}
.card-single {
    background: #fff;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0 , .2);
    border-radius: 5px;
}
.card-flex {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
}
.card-head .upload-folder {
    margin-left: 20%;
    background-image: url(upload-folder.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
    width: 320px;
}
.card-head a:hover .upload-folder {
    transform: scale(1.04);
}
.card-head .folder {
    margin-left: 20%;
    background-image: url(folder.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
    width: 320px;
}
.card-head a:hover .folder {
    transform: scale(1.04);
}
.card-head .all-folders {
    margin-left: 20%;
    background-image: url(All-folders.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
    width: 320px;
}
.card-head a:hover .all-folders {
    transform: scale(1.04);
}
.card-head .search-folder {
    margin-left: 20%;
    align-items: center;
    background-image: url(search-folder.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4s ease-in-out;
    width: 350px;
}
.card-head a:hover .search-folder {
    transform: scale(1.04);
}
.card-head #folder-btn {
    width: 90%;
    position: relative;
    top: 14px;
    left: 25%;
    background: #5850ec;
    border: 1px solid #dfdfdf94;
    padding-top: 5px;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;   
}
.card-head #folder-btn1 {
    width: 90%;
    position: relative;
    top: 19px;
    left: 25%;
    background: #5850ec;
    border: 1px solid #dfdfdf94;
    padding-top: 5px;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;   
}
.card-head span {
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: .9rem;
}

.history {
    margin-top: 4rem;
    overflow-x: auto;
}
.history-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto 66%;
    grid-gap: 3rem;
}
.analytics-card {
    background: #fff;
    padding: 1.5rem;
}
.analytics-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.analytics-head span {
    font-size: 1.5rem;
}
.analytics-chart small {
    font-weight: 600;
    color: #555;
}
.chart-circle {
    height: 150px;
    width: 150px;
    border-left: 8px solid transparent;
    border-right: 8px solid #5850ec;
    border-top: 8px solid #5850ec;
    border-bottom: 8px solid #5850ec;
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.analytics-card button {
    display: block;
    padding: .6rem 1rem;
    width: 100%;
    height: 45px;
    background: #5850ec;
    color: #fff;
    border: 1px solid #5850ec;
    border-radius: 3px;
}
.history h2 {
    margin: 15px;
    font-size: 25px;
}
.historyTop {
    display: flex;
    justify-content: space-between;
}
#historyArrow {
    color: #5850ec;
    font-weight: 600;
    display: inline-block;
    margin-left: 1rem;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    background: none;
}

#historyArrow:focus {
    outline: none;
}
.history .icon {
    color: #5850ec;
    font-weight: 600;
    display: inline-block;
    margin-left: 1rem;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    background: none;
}
.history .hidden {
    display: none;
}

.history #table-container {
    margin-top: 20px;
}
.history table {
    border-collapse: collapse;
    margin-top: 1rem;
    overflow: hidden;
}
.history table td div {
    background: #fff;
    margin-bottom: .8rem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size:  .85rem;
    color: #444;
    font-weight: 500;
}
span.indicator {
    background: #c9f7f5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
span.indicator.even {
    background: #fff4de;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
table button {
    background: #8da2fb;
    color: midnightblue;
    border: 1px solid #8da2fb;
    padding: .5rem;
    border-radius: 3px;
}
.table-responsive {
    overflow: hidden;
}


@media only screen and (max-width: 1124px) {
    .side-bar {
        width: 50%;
        position: fixed;
        height: 100%;
    }
    .side-bar {
        left: -100%;
        z-index: 30;
    }
    .side-bar-user img {
        width: 105px;
        height: 115px;
        border-radius: 50%;
        border-left: 2px solid #efefef;
        border-right: 2px solid #efefef;
        border-bottom: 2px solid #efefef;
        border-top: 2px solid #efefef;
    }
    .side-bar-user h3 {
        font-size: 15px;
    }
    .main-content {
        margin-left: 0;
    }
    header {
        left: 0;
        width: 100%;
    }
    .header-icon {
        visibility: hidden;
    }
    .search-box {
        position: absolute;
        top: 25%;
        left: 10%;
        transform: translate(5%);
    }
    .search-box input {
        height: 32px;
        width: 0px;
        border-radius: 50px;
        padding: 0px 5px;
        border: 2px solid black;
        padding-right: 25px;
        transition: 1.5s;
    }
    .search-box input:focus {
        border: none;
        outline: none;
        width: 220px;
        box-shadow: 0.5px 0.8px 8px rgb(144, 139, 241);
    }
    .search-box #before {
        position: absolute;
        right: 8px;
        line-height: 33px;
        color: #000; 
        font-weight: 700;
    }
    #sidebar-toggle:checked ~ .side-bar {
        left: 0;
    }
    #sidebar-toggle:checked ~ .body-label {
        right: 0;
    }
    #sidebar-toggle:checked ~ .main-content{
       margin-left: 0;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    } 
    .card-head .upload-folder {
        margin-left: 25%;
        background-image: url(upload-folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .upload-folder {
        transform: scale(1.04);
    }
    .card-head .folder {
        margin-left: 25%;
        background-image: url(folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .folder {
        transform: scale(1.04);
    }
    .card-head .all-folders {
        margin-left: 25%;
        background-image: url(All-folders.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .all-folders {
        transform: scale(1.04);
    }
    .card-head .search-folder {
        margin-left: 25%;
        align-items: center;
        background-image: url(search-folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 200px;
    }
    .card-head a:hover .search-folder {
        transform: scale(1.04);
    }
    .card-head #folder-btn {
        width: 90%;
        position: relative;
        top: 17px;
        left: 25%;
        background: #5850ec;
        border: 1px solid #dfdfdf94;
        padding-top: 5px;
        color: #fff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;   
    }
    .card-head #folder-btn1 {
        width: 90%;
        position: relative;
        top: 18px;
        left: 25%;
        background: #5850ec;
        border: 1px solid #dfdfdf94;
        padding-top: 5px;
        color: #fff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;   
    }
}
@media only screen and (max-width: 768px) {
    .side-bar {
        position: fixed;
        height: 1000px;
    }
    .side-bar-user img {
        width: 105px;
        height: 115px;
        border-radius: 50%;
        border-left: 2px solid #efefef;
        border-right: 2px solid #efefef;
        border-bottom: 2px solid #efefef;
        border-top: 2px solid #efefef;
    }
    .side-bar-user h3 {
        font-size: 15px;
    }
    .cards {
        grid-template-columns: 100%;
    } 
    .history-grid {
        grid-template-columns: 100%;
    }
    .page-header {
        display: block;
    }
    .search-box {
        position: absolute;
        top: 25%;
        left: 5%;
        transform: translate(5%);
    }
    .search-box input {
        height: 32px;
        width: 0px;
        border-radius: 50px;
        padding: 0px 5px;
        border: 2px solid black;
        padding-right: 25px;
        transition: 1.5s;
    }
    .search-box input:focus {
        border: none;
        outline: none;
        width: 200px;
        box-shadow: 0.5px 0.8px 8px rgb(144, 139, 241);
    }
    .search-box #before {
        position: absolute;
        right: 8px;
        line-height: 33px;
        color: #000; 
        font-weight: 700;
    }
    .header-actions {
        margin-top: 1rem;
        text-align: right;
    }
    .header-actions button:first-child {
        margin-left: 0rem;
    }
    .card-head .upload-folder {
        margin-left: 25%;
        background-image: url(upload-folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .upload-folder {
        transform: scale(1.04);
    }
    .card-head .folder {
        margin-left: 25%;
        background-image: url(folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .folder {
        transform: scale(1.04);
    }
    .card-head .all-folders {
        margin-left: 25%;
        background-image: url(All-folders.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 180px;
    }
    .card-head a:hover .all-folders {
        transform: scale(1.04);
    }
    .card-head .search-folder {
        margin-left: 25%;
        align-items: center;
        background-image: url(search-folder.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4s ease-in-out;
        width: 200px;
    }
    .card-head a:hover .search-folder {
        transform: scale(1.04);
    }
    .card-head #folder-btn {
        width: 90%;
        position: relative;
        top: 17px;
        left: 25%;
        background: #5850ec;
        border: 1px solid #dfdfdf94;
        padding-top: 5px;
        color: #fff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;   
    }
    .card-head #folder-btn1 {
        width: 90%;
        position: relative;
        top: 18px;
        left: 25%;
        background: #5850ec;
        border: 1px solid #dfdfdf94;
        padding-top: 5px;
        color: #fff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;   
    }
}
                                                                                                                                  